# =========================
# Node modules
# =========================
node_modules/

# =========================
# Сборки / CSS / JS
# =========================
dist/
build/
*.min.css
*.min.js

# =========================
# Настройки редактора
# =========================
.vscode/
*.code-workspace

# =========================
# Логи и временные файлы
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tmp
*.swp
.DS_Store

# =========================
# Sass / CSS кэш
# =========================
.sass-cache/
*.css.map

# =========================
# Другие файлы
# =========================
.env
.env.local
