.banners__list {
	display: grid;
	grid-template-columns: 321px 1fr 321px;
	column-gap: 36px;
	row-gap: 30px;
}

@media (width <=1200px) {
	.banners__list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 20px;
	}

	.banners__item--big {
		grid-column: 1 / -1;
		order: 3;
	}
}

@media (width <=768px) {
	.banners__list {
		grid-template-columns: 1fr;
	}

	.banners__item--small .product-banner--size-small {
		min-height: auto;
	}
}

@media (width <=580px) {
.banners__item .product-banner {
		min-height: 500px;
	}
}