.products__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(380px, 100%), 440px));
	justify-content: center;
	column-gap: 36px;
	row-gap: 72px;
}

.products__item {
	height: 100%;
}

@media (width <=1024px) {
	.products__list {
		row-gap: 30px;
		column-gap: 30px;
	}
}