.card-product {
	text-align: center;
	overflow: hidden;
}

.card-product:hover .card-product__img {
	filter: brightness(0.8);
	transform: scale(1.1);
}

.card-product__link {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.card-product__preview {
	overflow: hidden;
}

.card-product__img {
	width: 100%;
	aspect-ratio: 440 / 574;
	object-fit: cover;
	transition: all 0.3s;
}

.card-product__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
	flex-grow: 1;
}

.card-product__title {
	font-weight: 500;
	text-transform: uppercase;
	flex-grow: 1;
}

.card-product__rating {
	display: flex;
	column-gap: 4px;
}

.card-product__price {
	font-size: 20px;
	font-weight: 800;
	line-height: 1.4;
}