.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 44px;
	row-gap: 10px;
}

.menu__link {
	transition: all 0.3s;
}

.menu__link:hover {
	opacity: 0.5;
}

@media (width <=1442px) {
	.menu__list {
		justify-content: center;
		column-gap: 25px;
	}
}

@media (width <=992px) {
	.menu__list {
		column-gap: 20px;
	}
}

@media (width < 768px) {
	.menu {
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: #f6f6f6;
		z-index: 5;
		overflow: auto;
		transition: all 0.3s;
		padding: 120px 15px 30px 15px;
	}

	.menu::before {
		content: '';
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 70px;
		background-color: #fff;
		z-index: 6;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}

	.menu__list {
		flex-direction: column;
		row-gap: 30px;
	}

	.menu__link {
		font-size: 28px;
	}
}