.section {
	padding-block: 82px;
}

.section__container--advantages {
	max-width: 1210px;
}

.section__header {
	margin-bottom: 72px;
}

.section__header.section__header--hidden {
	margin-bottom: 0;
}

.section__title {
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

@media (width <=1440px) {
	.section {
		padding-block: 50px;
	}
}

@media (width <=1024px) {
	.section__header {
		margin-bottom: 30px;
	}
}

@media (width <=768px) {
	.section {
		padding-block: 30px;
	}
}

@media (width <=425px) {
	.section__title {
		font-size: 26px;
	}
}