.footer {
	padding-block: 72px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}

.footer__copy p {
	font-weight: 500;
	color: #7e7f7c;
}

@media (width <=768px) {
	.footer {
		padding-block: 30px;
	}

	.footer__copy {
		max-width: 230px;
	}

	.footer__wrapper {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}