.hero {
	min-height: 612px;
	padding-block: 50px;
	background-color: #d9d9d9;
}

.hero__title {
	max-width: 518px;
	font-family: "Montserrat", sans-serif;
	font-size: 96px;
	font-weight: 800;
	line-height: 1.04;
	text-transform: uppercase;
}

.hero__title span {
	font-weight: 700;
}