html {
	scroll-behavior: smooth;
}

html.is-lock {
	overflow: hidden;
}

body {
	font-family: var(--base-font-family);
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-text);
	background-color: var(--color-bg);
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	width: 0.0625rem !important;
	height: 0.0625rem !important;
	margin: -0.0625rem !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}