.header {
	padding-block: 60px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
}

.header__search {
	flex: 0 0 264px;
}

.header__menu {
	margin-right: auto;
}
