.section {
	padding-block: 82px;
	text-align: center;
}

.section__top {
	margin-bottom: 72px;
	display: flex;
	flex-direction: column;
	row-gap: 36px;
}

.section__title {
	font-weight: 800;
	font-size: 32px;
	text-transform: uppercase;
}
