.about {
	margin-bottom: 6.25rem;
}

.about__header {
	margin-bottom: 7.1875rem;
	text-align: center;
}

.about__title,
.about__subtitle {
	font-size: 1.875rem;
}

.about__title {
	text-transform: capitalize;
}

.about__content {
	display: grid;
	grid-template-columns: 28.0625rem 1fr;
	column-gap: 1.25rem;
	row-gap: 1.875rem;
}

.about__content:not(:last-child) {
  margin-bottom: 8.4375rem;
}

.about__info {
	padding-top: 1.5625rem;
	display: flex;
	flex-direction: column;
	row-gap: 1.5625rem;
}

.about__text p {
	line-height: 1.31;
}

.about__text p:not(:last-child) {
	margin-bottom: 1.5625rem;
}

.about__picture {
	text-align: right;
}

.about__img {
	aspect-ratio: 317 / 485;
	object-fit: cover;
}

.about__button {
	text-align: center;
}

.about__link {
	min-width: 8.1875rem;
	padding-inline: 1.25rem;
	padding-block: 0.625rem;
	border: 0.0625rem solid #000;
	transition: all 0.3s;
}

.about__link:hover {
	color: #fff;
	background-color: #000;
}

.about__link:active {
	transform: scale(0.95);
}

@media (width <=48em) { /* 768px */
	.about {
		margin-bottom: 2.5rem;
	}

	.about__header {
		margin-bottom: 2.5rem;
	}

	.about__content {
		grid-template-columns: 1fr;
	}

	.about__info {
		padding-top: 0rem;
	}

	.about__picture {
		text-align: center;
	}

	.about__content:not(:last-child) {
  	margin-bottom: 3.125rem;
	}
}

@media (width <=37.5em) {
	.about__subtitle {
		font-size: 1.625rem;
	}
}

@media (width <=26.5625em) {
	.about__subtitle {
		font-size: 1.375rem;
	}
}