.card-choose {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
}

.card-choose__img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.card-choose__title {
	font-weight: 700;
	text-transform: uppercase;
	flex-grow: 1;
}

.card-choose__text {
	font-weight: 500;
	color: #7e7f7c;
}
