.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 10px;
	column-gap: 44px;
}

.menu__item {
	position: relative;
}

.menu__link {
	transition: all 0.3s;
}

.menu__link:hover {
	opacity: 0.5;
}

.menu__link--arrow::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("./../../icons/arrow-down.svg");
	background-repeat: no-repeat;
}
