.base-button {
	padding-block: 10px;
	padding-inline: 20px;
	min-width: 166px;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.3;
	color: #fff;
	background-color: #ba936f;
	text-transform: capitalize;
	border-radius: 15px;
	transition: all 0.3s;
}

.base-button:hover {
	background-color: #343434;
}

.base-button:active {
	transform: scale(0.95);
}

@media (width <=768px) {
	.base-button {
		font-size: 16px;
	}
}