.burger {
	position: relative;
	width: 30px;
	height: 18px;
}

.burger span,
.burger::before,
.burger::after {
	content: "";
	position: absolute;
	right: 0;
	height: 2px;
	width: 100%;
	background-color: #2f302c;
	transition: all 0.3s;
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
}

.burger span {
	top: 50%;
	transform: translateY(-50%);
}

@media (width < 768px) {
	[data-menu-open] .burger span {
		width: 0;
	}

	[data-menu-open] .burger::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}

	[data-menu-open] .burger::after {
		rotate: 45deg;
		bottom: 50%;
		translate: 0 50%;
	}
}