.search {
	display: flex;
	align-items: center;
	column-gap: 12px;
	
	font-weight: 500;
	border-bottom: 1px solid #d4d4d4;
}

.search__input::placeholder {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #7e7f7c;
}

.search__input {
	width: 100%;
	height: 44px;
	outline: none;
}