html.is-lock {
	overflow: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #343434;
	background-color: #fff;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	margin-inline: auto;
	padding-inline: 15px;
}

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}