/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: url('./../../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./../../fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./../../fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Lora */
@font-face {
	font-family: 'Lora';
	src: url('./../../fonts/Lora-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lora';
	src: url('./../../fonts/Lora-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Praysire Demo */
@font-face {
	font-family: 'Praysire-Demo';
	src: url('./../../fonts/PraysireDemo.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}