.card-cosmetics {
	max-width: 12.5rem;
}

.card-cosmetics:hover .card-cosmetics__img {
	transform: scale(1.1);
}

.card-cosmetics__link {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.9375rem;
}

.card-cosmetics__img-wrapper {
	overflow: hidden;
	transition: all 0.3s;
	box-shadow: var(--box-shadow);
}

.card-cosmetics__img {
	aspect-ratio: 200 /208;
	object-fit: cover;
	transition: all 0.3s;
}

.card-cosmetics__title {
	font-size: 1.25rem;
	line-height: 1.35;
	text-transform: capitalize;
}

@media (width <=48em) { /* 768px */
	.card-cosmetics {
		max-width: 100%;
	}

	.card-cosmetics__img {
		width: 100%;
	}

	.card-cosmetics__caption {
		font-size: 1rem;
	}
}
