.discount {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 50px 50px 60px 80px;
	position: relative;
	min-height: 496px;
	flex: 0 1 600px;
	background-color: #f6f6f6;
	overflow: hidden;
	z-index: 1;
}

.discount__img {
	position: absolute;
	top: 0;
	right: 50px;
	z-index: -1;
}

.discount__info {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	max-width: 184px;
}

.discount__badge {
	align-self: flex-start;
}

.discount__title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 800;
}