.search {
	flex: 0 0 264px;
	border-bottom: 1px solid #d4d4d4;
}

.search__label {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.search__icon {
	width: 20px;
	height: 20px;
}

.search__input::placeholder {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #7e7f7c;
}

.search__input {
	height: 44px;
	outline: none;
}